.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 20px;
  height: 30px;
  justify-content: space-between;
  background-color: #111;

}

.nav-bar-logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav-bar-avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}